.booking-comp {
    // display: flex;
    position: absolute;
    top: 32rem;
    right: 20%;
    background: white;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.widget-container {
    background-color: white;
    height: 260px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.05);
    border: 1px solid #ebebeb;
    z-index: 2;
    display: flex;
    justify-content: center;

}
.wrapper {
    height: 76px;
    align-items: center;
    justify-content: center;
}

.price-wrapper {
    font-size: 1.75em;
    // width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: solid 1px green;
}
.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.price p {
    margin-left: .5rem;
    // margin: .15em; 
    color: #757575;
    font-size: .75em;
}
.dates-and-guest-content {
    display: flex;
    // flex-direction: row;
    height: 69.39;
    // padding: 0px 10px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
        // border: 1px solid #ebebeb;

}
    
.col {
    padding: 10px;
    // width: 319px;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    border: 1px solid #ebebeb;
    // border-right: red 1px solid;
    // justify-content: center;
}

.capacityHeight{
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 4600px;
}
#capacity_input {
    width: 69px;
    // height: 44px;
    // color: #484848;
    text-align: center;

}
//react dates
.SingleDatePickerInput {
    width: 100%;
    border: 1px solid #ebebeb;
    margin-top: .3em;

}
.DateInput.DateInput_1{
    width: 70%;
    
}
#start.DateInput_input_1 {
    font-size: 10px;
    // width: 100%;;
}
#end.DateInput_input_1 {
    font-size: 10px;
    // width: 100%
    
}


.label {
    color: #333333;
    padding: 0px 0px 5px;
    font-size: 18px;
    height: 23.39px;
    width: 93.11px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    
}

.booking-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #40d9ac;
    color: #ffffff;
    width: 85%;
    padding: 1rem 2rem;
    margin: auto;
    border: solid 3px #40d9ac;
    cursor: pointer;
    transition: .4s;
    margin-top: 10%;

}
.booking-button:hover {
    background: #ffffff;
    color: #40d9ac;
    transition: .4s;
}