.booking-comp {
    position: sticky;
    position: -webkit-sticky;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    object-position: right;
    top: 15rem;

}


.widget-container {
    position: absolute;
    background-color: white;
    height: 503px;
    width: 23vw;
    max-width: 392px;
    padding: 8px 24px 24px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.05);
    border: 1px solid #ebebeb;
    z-index: 90001;
    display: flex;
    justify-content: center;
    margin-top: -16rem;
    margin-bottom: 20rem;
    border-radius: 12%;
    // padding: 8px 24px 24px;
}


.booking-label {
    width: 85%;
}
.h100 {
    height: 100%;
}
.w100 {
    width: 100%;
}
.price-wrapper {
    margin-left: 1.5rem;
    font-size: 1.25rem;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}
.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.price p {
    margin-left: .5rem;
    color: #757575;
    font-size: .75em;
    margin-right: 2rem;
}
.dates-and-guest-content {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.margin7 {
    margin: 7%;
}
.booking-border {
    border: 1px solid #ebebeb;
    border-radius: 10%;
}
.booking-border-top {
    border-top: 1px solid #ebebeb;
}
.booking-border-bot {
    border-bottom: 1px solid #ebebeb;;
}
    
.col {
    padding: .625rem;
    height: 4.375rem;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: column;
}

.datePicker {
    border: solid red 3px;
}

.capacityHeight{
    display: flex;
    justify-content: center;
    align-items: center;
}

#capacity_input {
    width: 69px;
    text-align: center;
    border: none;
}
.no-Border {
    border: none;
}
.booking_width {

}

//

//react dates
.SingleDatePickerInput {
    width: 100%;
    border: 1px solid #ebebeb;
    margin-top: .3em;

}
.DateInput.DateInput_1{
    width: 70%;
    
}
#start.DateInput_input_1 {
    font-size: 10px;
    // width: 100%;;
}
#end.DateInput_input_1 {
    font-size: 10px;
    // width: 100%
    
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    color: #333333;
    padding: 0px 0px 5px;
    font-size: 18px;
    height: 23.39px;
    width: 93.11px;
    margin-top: 15%;
}

.booking-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #40d9ac;
    color: #ffffff;
    width: 85%;
    padding: 1rem 2rem;
    margin: auto;
    border: solid 3px #40d9ac;
    cursor: pointer;
    transition: .4s;
    margin-top: .9rem;

}
.booking-button:hover {
    background: #ffffff;
    color: #40d9ac;
    transition: .4s;
}

.booking_errors {
    color: red;
    font-size: .6rem;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative
}

.fixed {
    position: fixed;
}

.react-datepicker__input-container {
    // width: 20000px;
}
.react-datepicker__view-calendar-icon {

}
.react-datepicker-wrapper {

}
.datePicker {
    width: 100%;
    // width: 500px;
}
.green-background {
}
.calw {
    // width: 175px;
}

.react-datepicker__input-container input {
    // background-color: #40d9ac;
    width: 85%;
}

// .react-datepicker__da=> makes calendar day 

.react-datepicker__day {
    background-color: white;
}

// .react-datepicker__day,
.react-datepicker__day--selected .react-datepicker__day--in-selecting-range .react-datepicker__day--in-range .react-datepicker__month-text--selected .react-datepicker__month-text--in-selecting-range .react-datepicker__month-text--in-range .react-datepicker__quarter-text--selected .react-datepicker__quarter-text--in-selecting-range .react-datepicker__quarter-text--in-range .react-datepicker__year-text--selected .react-datepicker__year-text--in-selecting-range .react-datepicker__year-text--in-range {
    background-color: #40d9ac;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
    background-color: #40d9ac !important;
    border-radius: 0% !important;
}

// input inside date div
.react-datepicker__input-container input{
    border: none;
}

// .react-datepicker__day--keyboard-selected,
// .react-datepicker__month-text--keyboard-selected,
// .react-datepicker__quarter-text--keyboard-selected,
// .react-datepicker__year-text--keyboard-selected {
//     background-color: none !important;
// }

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    margin: 0px !important;
}
.react-datepicker {
    width: 203px;
}

.flex-row {
    flex-direction: row;
}

.f-between {
    justify-content: space-between;
}

.mrgn-10 {
    margin: 20px;
}