.bookings {
    // border: lightgray 1px solid;
    // display: flex;
    // flex-direction: row;
}

.booking_item_box {
    padding: 1.5rem;
    border-bottom: lightgray 1px solid;
    display: flex;
    margin: 1rem;
    // padding: 2rem;
    // flex-direction: column;
}
.booking_list_name {
    padding-bottom: .5rem;
}
.booking_img_container {
    font-size: 2rem;
}

.booking_img {
    box-shadow: .6rem .8rem 1rem lightgrey;
    width: 20vw;
    // max-height: 20vh;
    height: auto;
}

.booking_item_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2rem;
}

.bookings_item strong {
    // display: flex;
    // justify-content: space-around;
    font-weight: bold;
}
.bookings_item_cancel {
    display: flex;
    justify-content: center;
}


.bookingCancel {
    border: solid 2px #40d9ac;
    background: #ffffff;
    transition: .4s;
    width: 8vw;
    height: 3vh;
    color: #40d9ac;
}
.bookingCancel:hover {
    background: #40d9ac;
    transition: .4s;
    color: #ffffff;
}