.feedback-indicator {
    width: 202.77px;
    min-height: 38px;
    padding: 8px 14px 8px 34px;
    font-size: 14.72px;
    color: #b38b01;
    background-color: #fef2d6;
    position: fixed;
    bottom: 3%;
    left: 3%;
    border-radius: 8px;
    box-shadow: 0px 3px 9px  lightgray;
    /* webkit is chrome animation code */
    -webkit-animation: seconds 10.0s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 3s;


    /* not chrome */
    /* animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 3s; */
}
@-webkit-keyframes seconds {
  /* 0% {
    opacity: 1;
  } */
  100% {
    opacity: 0;
    left: -9999px; 
  }
  /* chrome browser support only...keep both i guess */
}
/* @keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
} */


