.home {
    margin-top: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeCol {
    width: 57vw;
    height: 20vh;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeTitle {
margin-bottom: 2.5vh;
}
.homeDesc {
}

.homeTitle h1{
    font-weight: bold;
    font-size: 3rem;
    display: inline;
    
}

.homeDesc h2{
    font-weight: normal;
    font-size: 1.5rem;
    width: 55%;
    
}

.searchWrapper {
    // min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.superSearch {
    padding: 1.5rem;
    width: 55vw;
    height: 6vh;
    padding: 17px;
    box-shadow: 0px 3px 7px lightgray;
    /* margin: 0 auto; */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    

}

.searchBar {
    // width: 559px;
    // height: 63px;
    background: #ffffff;
    /* padding: 6px 12px 6px 45px; */
    display: flex;
    // justify-content: space-between;
    align-items: center;

    
}
.search {
    width: 45vw;
    height: 59px;
    font-size: 2rem;
    
}
.searchButton {
    // padding: 0px 80px;
    margin-left: 1rem;
    width: 8vw;
    height: 63px;
    color: #ffffff;
    background: #40d9ac;   
    border: 3px solid #40d9ac ;
    font-size: 1.5rem;
    font-weight: normal;
    transition: 0.5s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchButton:hover {
    background: #ffffff;
    color: #40d9ac;
    transition: 0.5s;
    cursor: pointer;
}



//seach bar filters
// .datebox {
//     display: flex;
//     height: 66px;
//     width: 155px;
//     justify-content: space-around;
//     align-items: center;   
// }
// .date {
//     height: 66px;
//     width: 100%;
//     font-size: 20px;
    
// }
// .filterButton {
//     width: 145px;
//     height: 65px;
//     padding: 7px 7px 9px;
//     /* margin: 0 0 0 10px; */
//     background: #ffffff;
//     font-size: 20px;
// }


// .dropdownMenu {
//     position: relative;
//     font-family: Arial, Helvetica, sans-serif;
//     height: 65px;
//     width: 180px; 
// }
// .menuSelect select{
//     display: none;
// }
// .menuSelect {
//     padding: 6px 7px 6px 10px;
//     height: 65px;
//     /* width: 180px; */
//     width: 300px;
//     background-color: #FFFFFF;
//     margin: 2px 0 0;
//     border-radius: 3px;
//     width: 100%;
//     max-width: 100%; 
//     box-sizing: border-box;
//     margin: 0;
//     -moz-appearance: none;
//     -webkit-appearance: none;
//     appearance: none;
//     display: block;

// }


/* .menuSelected:after {
  position: absolute;

} */

.menuMenu:hover {
    /* cursor: pointer; */
}

.menuSelected{
    /* display: none; */
    /* padding: 10px 10px 12px 15px ;
    height: 55px;
    width: 60%;
    border-bottom: darkgrey solid 1px; */
}
.menuSelected:hover {
    /* cursor: pointer;
    background-color: blanchedalmond;
    justify-content: center; */
}


.container_container_banner {
}

.containerBanner {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}


.bannerImg {
    // max-width: 1080px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.banner_message {
    // padding-left: 20px;
    display: flex;
    flex-direction: column;
    // width: 30%;
    // height: 35vh;
    width: 25%;
    height: 40%;
    background-color: black;
    position: absolute;
    opacity: .9;
    color: white;
    display: flex;
    justify-content: center;
    // left: 35rem;
    margin-left: 8%;
    padding-left: 3rem;
    padding-right: 3rem;
}
.banner_font{
    flex-wrap: wrap;
    display: flex;
    // margin-left: 10%;
    margin-bottom: 10%;
    font-size: 250%;
    opacity: 100;
    color: white;
}
.banner_sub_message{
    font-size: 1.5rem;
    color: white;
    margin-top: .5rem;
    flex-wrap: wrap;
    margin-left: 15%;
}
.intro_button_container {
    margin-top: 10%;
    // left: 10%;
    // margin-left: 30%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro_button {
    border-radius: 5px;
    color: #484848;
    background-color: white;
    width: 13vw;
    height: 5vh;
    font-weight: bolder;
}

.tilesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // position: relative;
}
.tiles_tile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.poppingRectangle {
    display: flex;
    height: 635px;
    width: 350px;
    // text-indent: -50%;
    margin: .7rem;
    // margin-top: 20px;
    object-fit: cover;
    animation: unpop .8s ease forwards;
}
.poppingRectangle:hover {
    cursor: pointer;
    animation: pop .2s ease forwards;
    box-shadow: 0px 3px 4px  grey;
}
@keyframes pop {
    0% {}
    100% { transform: translateY(-1.3%)}
}
@keyframes unpop {
    0% {}
    100% { transform: translateY(1%)}
}


.vagueLocationsContainer {
    margin-top: 12vh;
    margin-bottom: 5rem;
    // justify-content: space-between;
    // justify-content: center; 
    display: flex;
    align-items: center;
    flex-direction: column;
}
.vague_tile_list {
    max-width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // justify-content: space-evenly;
    // min-width: 1110px; 
    // height: 364px;
    // margin: 0px 0px 32px;
}
.vague_picture {
    height: 364px;
    width: 350px;
    margin: .7rem;
    background: #ebebeb;
    object-fit: cover;
    animation: unpop .8s ease forwards;
    background-color: lawngreen;
    // margin: 10px;
    // margin-bottom: 5vh;
}
.vague_picture:hover {
    cursor: pointer;
    animation: pop .2s ease forwards;
    box-shadow: 0px 3px 4px  grey;
}









