@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.superHomePage {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.margin-left-5 {
    margin-left: 5px;
}

.margin-right-15 {
    margin-right: 24px;
}

.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.relative {
    position: relative;
}

.pow {
    width: 100px;
    // position: absolute;
    // margin-bottom: 200px;
    // height: 20px;
}

.sp_div {
    border-radius: 8px;
    padding: 20px 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #0F3806;
}

.sp_img {
    height: 330px;
    width: 260px;
    margin-bottom: 30px;
}

.sp_header {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 34px;
}

.homeCol {
    width: 57vw;
    height: 20vh;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeTitle {
// margin-bottom: 2.5vh;
}
.homeDesc {
}

.homeTitle h1{
    font-weight: bolder;
    font-size: 2.33rem;
    display: inline;
    
}

.homeDesc h2{
    font-weight: lighter;
    font-size: 1.3rem;
    width: 55%;
    
}
.form_search {
    width: 75%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.searchWrapper {
    // min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 8vh;
}

.superSearch {
    padding: 1.5rem;
    width: 60vw;
    height: 5vh;
    padding: 1rem;
    box-shadow: 0px 3px 6px lightgray;
    /* margin: 0 auto; */
    position: relative;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: row;
    

}
.searchBar {
    border: black 1px solid;
    background: #ffffff;
    display: flex;
    align-items: center;
    height: 44px

}

.searchBar:hover {
    cursor: pointer;
}

.fasearch { 
    left: 20rem;
    display: flex;
    justify-content: center;
    // width: 50px;
    margin: 1rem;
    border-radius: .3rem;
}

.search {
    width: 42vw;
    height: 2.5rem;
    font-size: 1.5rem;
    border: 0;
}

.searchButton {
    margin-left: 1rem;
    width: 8vw;
    height: 2.7rem;
    color: #ffffff;
    background: #40d9ac;   
    border: .2rem solid #40d9ac;
    font-size: 1.5rem;
    font-weight: normal;
    transition: 0.5s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3rem;
}
.searchButton:hover {
    background: #ffffff;
    color: #40d9ac;
    transition: 0.5s;
    cursor: pointer;
}

.container_container_banner {
}

.green_background {
    background: #E6F0D9;
}
.learn_more:hover {
    color: white;
    background: #0F3806;
    cursor: pointer;
}

.learn_more {
    color: #0F3806;
    background: #E6F0D9;
    border: 1px solid #0F3806;
    // padding: 46px 350px;
    width: 350px;
    height: 46px;
    border-radius: 50px;
}


.containerBanner {
    position: relative; //very necessary
    object-fit: stretch;
    margin-top: 10vh;
    margin-bottom: 10vh;
    // width: 85%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    // justify-content: left;
    // align-items: center;
}
.bannerImg {
    // overflow: hidden;
    display: flex;
    width: 83%;
    // max-width: 85%;
    height: auto;
    // margin: auto;
}

.banner_message {
    display: flex;
    flex-direction: column;
    min-width: 12.5rem;
    width: 12%;
    height: 14.1rem;
    background-color: #333333;
    position: absolute;
    color: white;
    display: flex;
    justify-content: flex-start;
    padding: 3rem;
    right: 55%;
    top: 20%;
}
.banner_font{
    flex-wrap: wrap;
    display: flex;
    // margin-left: 10%;
    // margin-bottom: 10%;
    width: 112%;
    font-size: 175%;
    opacity: 100;
    color: white;
    margin-bottom: 10%;
}
.banner_sub_message{
    font-size: 1rem;
    color: white;
    margin-top: .5rem;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-bottom: 10%;

}
.intro_button_container {
    margin-top: 10%;
    // margin-bottom: 10%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro_button {
    white-space: nowrap;
    border-radius: .5rem;
    color: #484848;
    background-color: white;
    width: 12rem;
    height: 3rem;
    font-weight: bolder;
}

.tilesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // position: relative;
}
.tiles_tile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 90vw;
}
.poppingRectangle {
    display: flex;
    height: 39.7rem;
    // width: 28%;
    width: 22.75rem;
    // max-width: 22rem;
    // min-width: 10vw;
    // max-width: 28%;
    margin: .7rem;
    object-fit: cover;
    animation: unpop .2s ease forwards;
}
.poppingRectangle:hover {
    cursor: pointer;
    animation: pop .2s ease forwards;
    box-shadow: 0px 3px 4px  grey;
}
@keyframes pop {
    0% {}
    100% { transform: translateY(-1.3%)}
}
@keyframes unpop {
    0% {}
    100% { transform: translateY(1.3%)}
}

.title_listing {
    font-size: 30px;
    font-weight: bold;

}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.align_center {
    align-items: center;
    justify-content: center;
}

.vagueLocationsContainer {
    margin-top: 12vh;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    // max-width: 80vw;
    flex-direction: column;
    // width: 80%;
    // width: 1100px;
    
}

.flex-wrap {
    flex-wrap: wrap;
}


.vague_tile_list {
    // max-width: 90vw;
    // width: 60%;
    // max-width: 90%;

    // column-width: 100rem;
    // -webkit-column-width: 100rem;
    // -moz-column-width: 100rem;
    // max-width: 1140px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.vague_picture {
    height: 22.75rem;
    // min-width: 300px;
    // max-width: 350px;
    max-width: 22rem;
    margin: .7rem;
    background: #ebebeb;
    object-fit: cover;
    animation: unpop .8s ease forwards;
}
.vague_picture:hover {
    cursor: pointer;
    animation: pop .2s ease forwards;
    box-shadow: 0px 3px 4px  grey;
}









