.search_results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.list-index {
    width: 100vw;
    min-height: 10vh;
    max-height: 50vh;
    margin-right: 5vw;
    overflow-y: scroll;
}

.search_results {
    margin-top: 10vh;

}
.list_index_items {
    margin-top: 5vh;

}
.index_container {
    margin-top: 3vh;
    display: flex;
    // flex-direction: row;
    width: 110%;
    height: auto; 
    border: gray solid 1px;

}
.index_box {
    margin-bottom: 3vh;
}
.indexPhotos {
    width: 20vw;
    height: auto;
}

.mapIndex {
    // right: 0%;
    border: darkblue solid 5px;
    width: 40vw;
    height: 100vh;
}
.listing_index_desc {
    display: flex;
    align-items: center;
}