.show_body {
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.social_share_target{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}
.list-show-photo{
    object-position: center;
    // width: 100%;
    // height: 1200px;
    width: 1100px;
    margin-right: 20px;
}
.photo_title {
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: bolder;
    // border-bottom: solid 1px ;
}


.show-listing {
    // margin-top: 5rem;
    border-top: lightgrey solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
    width: 70vw;
}

.section-overview{
    display: flex;
    width: 80vw;
    justify-content: center;
    object-position: center;
    height: 23vh;
    padding: 20px 0px 0px;
    margin-bottom: 5vh;
    // border: red 1px solid;
}
.hostpic {
    width: auto;
    max-height: 5vw;
    margin-right: 3rem;

    // height: 9vh;
}
.host_by {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    width: 10vw;
}
.host_name {
    display: flex;
    justify-content: space-between;
    // align-items: right;

}

.details-container {
    // margin-left: 20rem;
    // border-top: lightgrey solid 1px;
}

.onArrival {
    margin-left: 9rem;
    margin-bottom: 20%;

}

.detail_list {
    
    width: 70vw;
    border-top: lightgrey solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.details_title {
    margin-top: 3rem;
    font-weight: bolder;
    margin-right: 7rem;
    // display: flex;
    // justif
}
.details_text {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    height: 15vh;
    margin-right: 10vw;
}
.details_text div{
    margin: .5rem;
}
.details_text strong{
    font-weight: bolder;
}
.img_Detail {
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
    text-align: left;
}
#img_offset {
    margin-right: 6rem;
}












.description {
    width: 480px;
    height: 190px;
    font-size: 18px;
    color: black;
}
.desc-wrapper p {
    max-width: 480px;
    min-width: auto;
    height: auto;
    min-height: 200px;
    // margin: 0px 0px 11px;
    font-size: 18px;
    color: #333333;
    // border: red 1px solid;
}
// .onboarding {
//     border: solid 1px lightgrey;
// }
.details-container {
    display: flex;
}
.features-container {
    width: 700px;
    // height: 542px;
}



.row{
    width: 720px;
    height: 190px;
    margin: 0px -10px;
    // border: black solid 1px;
}
.info-cards-wrapper {
    width: 720px;
    // height: 360px;
    // margin: 0 10px;
    // border: red 1px solid;
    display: flex;
    // position: absolute;
}
.info-cards {
    width: 220px;
    // height: 340px;
    margin: 0px 10px 20px;
    padding: 15px 5px 15px 15px;
    background: #ffffff;
    border: red 1px solid;
}
// .col_box {
//     height: 50px;
//     width: 70px;
// }

.map {
    // margin: auto;
    margin-top: 10%;
    display: flex;
  width: 100%;
  height: 500px;
}