.search_results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.list-index {
    width: 45vw;
    min-height: 10vh;
    max-height: 100vh;
    margin-right: 5vw;
    overflow-y: scroll;
        display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.search_results {
    margin-top: 10vh;

}
.list_index_items {

    width: 20vw;
    margin-top: 5vh;

}
.index_container {
    margin-top: 3vh;
    display: flex;
    // flex-direction: row;
    width: 110%;
    height: auto; 
    border: lightgray solid 1px;
    box-shadow: .2rem .6rem 1rem lightgrey;

}
.index_box {
    margin-bottom: 3vh;
}
.indexPhotos {
    width: 20vw;
    height: auto;
}

.mapIndex {
    right: 0%;
    // border: darkblue solid 5px;
    width: 48vw;
    height: 100vh;
}
.listing_index_desc {
    display: flex;
    align-items: center;
}