.show_body {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.social_share_target{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}
.photo_square {
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-show-photo{
    object-position: center;
    width: 50rem;
}
.photo_title {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 2rem;
    // border-bottom: solid 1px ;
}


.show-listing {
    // margin-top: 5rem;
    // border-top: lightgrey solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
    width: 70vw;
}

.section-overview{

    // border: red 1px solid;
}
.list_overview {
    display: flex;
    width: 80vw;
    justify-content: center;
    object-position: center;
    height: 23vh;
    padding: 20px 0px 0px;
    margin-bottom: 5vh;
}
.list_overview p {
    width: 40vw;
    margin-bottom: 2rem;
}

.hostpic {
    width: auto;
    max-height: 5vw;
    margin-right: 3rem;
    // height: 9vh;
}
.host_by {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    width: 10vw;
    height: 10vh;
}
.host_name {
    display: flex;
    justify-content: space-between;
    // align-items: right;

}

.details-container {
    // margin-left: 20rem;
    // border-top: lightgrey solid 1px;
}
.area_essentials_ammenities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-left: 17%;
    margin-bottom: 10%;
    max-width: 43rem;
}
.condition_list {
    height: 21.25rem;
    width: 13.75rem;
    display: flex;
    border: 1px lightgray solid;
    flex-direction: column;
    align-items: left;
    margin-top: 2rem;
    // align-items: center;
}
.aea_title {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    font-weight: bolder;
}
.aea_info {
    margin-top: .8rem;
    display: flex;
    flex-direction: row;
    font-size: .8rem;
    height: 28px;
    // height: 50vh;
}
.aea_info p {
    margin-top: .5rem;

}
.aea_conditions {
    
    object-fit: cover;
    height: 110%;
    margin-right: 1rem;
    margin-left: 1rem;
}


.onArrival {
    margin-left: 9rem;
    margin-bottom: 20%;

}

.detail_list {
    width: 59vw;
    // height: 95vh;
    border-top: lightgrey solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        margin-bottom: 2rem;

    // padding: 5%;
}
.detail_sum_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // padding: 5%;
    margin-right: 9rem;
    // margin-left: 2rem;
    font-weight: bolder;
}

.details_sum {
    margin-top: 3rem;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    height: 15vh;
    margin-right: 10vw;
}

#details_sum_list {
    display: flex;
    flex-direction: row;
}

.details_title {
    margin-top: 3rem;
    font-weight: bolder;
    margin-right: 7rem;
    margin-bottom: 15rem;
    // display: flex;
    // justif
}
.details_text {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    height: 15vh;
    margin-right: 5vw;
}
.details_text div{
    margin: .5rem;
    white-space: nowrap;
}
.details_text strong{
    font-weight: bolder;
}
.img_Detail {
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
    text-align: left;
}
#img_offset {
    margin-right: 6rem;
}












.description {
    width: 480px;
    height: 190px;
    font-size: 18px;
    color: black;
}
.desc-wrapper p {
    max-width: 480px;
    min-width: auto;
    height: auto;
    min-height: 200px;
    // margin: 0px 0px 11px;
    font-size: 18px;
    color: #333333;
    // border: red 1px solid;
}
// .onboarding {
//     border: solid 1px lightgrey;
// }
.details-container {
    display: flex;
}
.features-container {
    width: 700px;
    // height: 542px;
}



.row{
    width: 720px;
    height: 190px;
    margin: 0px -10px;
    // border: black solid 1px;
}
.info-cards-wrapper {
    width: 720px;
    // height: 360px;
    // margin: 0 10px;
    // border: red 1px solid;
    display: flex;
    // position: absolute;
}
.info-cards {
    width: 220px;
    // height: 340px;
    margin: 0px 10px 20px;
    padding: 15px 5px 15px 15px;
    background: #ffffff;
    border: red 1px solid;
}
// .col_box {
//     height: 50px;
//     width: 70px;
// }

.map {

    width: 100%;
    height: 31.25rem;
}




