.ListCreate{
    display: flex;
    width: auto;
    height: 7000px;
    border: red 1px solid;
    top: 20px;
    flex-direction: column;
    background-color: pink;
    position: relative;
}
.listform {
    display: flex;
    // height: 800px;
    border: red 1px solid;
}
.h2 {
    font-size: 200px;
}