#infoBox {
    display: flex;
    padding: .5rem;
}

.infoPic {
    width: 10vw;
    height: 15vh;
    object-fit: contain;
}

.infoDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoDetailName {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.infoDetailPrice {
    font-size: 15px;
    margin-left: 3rem;
}