 .super-body {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* overflow-x: hidden !important; */
    // max-width: 100% !important;
    // overflow-x: hidden;
    //  overflow-y: hidden;
    // overflow-anchor: auto;
 }
strong {
    font-weight: bolder;
}
 a {
     color: inherit;
     text-decoration: inherit;
 }

.logo-pic {
    width: 135px;
    height: 50px;
}



 .superNav {
    overflow-anchor: auto; 
    font-size: 1.15em;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    display: flex;
    z-index: 10;
    background-color: #ffffff;
    margin-bottom: 50%;
    }
    
    .nav-left {
        width: 50%;
        display: flex;
        // align-items: center;
        // justify-content: center;
        flex-direction: row;
    }
    
.nav-right {
    margin-top: 1rem;
    margin-right: 1%;
    width: 50%;
    display: flex;
    justify-content: flex-end; 
}
.NavSearchContainer {
    margin-left: 5%;
    margin-top: 1%;
    display: flex;
    // justify-content: center;
    align-items: center;

}

.nav-fa-search {
    position: absolute;
    margin-left: .5%;
    // bottom: 50%;
    // top: 50%;
    // left: 50%;
}
.navSearch {
    padding: 0 7%;
    height: 36px;
    width: 30vw;
}
.navSearchBtn {
    display: none;
}



.navItem {
    padding: .5rem;
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
    align-self: center;  
    // border 1px solid transparent;  
    border: 1px solid transparent;  
}

.navItem:hover {
    cursor: pointer;
    border-bottom: 2px solid #40D9AC;
    box-sizing: border-box;
    display: inline-block;
}

.signupButton {
    background: white;
    // background-color: white;
    color:  #40d9ac ;
    border: 3px solid #40d9ac ;
}
.signupButton:hover {
    background: #40d9ac  ;
    color: white;
    transition: 0.6s;
    
    // display: inline-block;
}

.logoutButton {
    background-color: white;
    border: 1px solid transparent;  

}




