 .super-body {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
strong {
    font-weight: bolder;
}
 a {
     color: inherit;
     text-decoration: inherit;
 }

.logo-pic {
    width: 8.44rem;
    height: 4.375rem;
}



 .superNav {
    font-size: 1em;
    // position: fixed; //unnecessary, real site doesnt do this anyway
    width: 100%;
    height: 70px;
    top: 0;
    display: flex;
    z-index: 10;
    background-color: #ffffff;
    margin-bottom: 2%;
    }
    
    .nav-left {
        width: 50%;
        display: flex;
        // align-items: center;
        // justify-content: center;
        flex-direction: row;
    }
    
.nav-right {
    // margin-top: 1rem;
    margin-right: 1%;
    width: 50%;
    display: flex;
    justify-content: flex-end; 
}
.NavSearchContainer {
    margin-left: 5%;
    // margin-top: 1%;
    display: flex;
    // justify-content: center;
    align-items: center;

}

.nav-fa-search {
    position: absolute;
    margin-left: 1rem;
    // bottom: 50%;
    // top: 50%;
    // left: 50%;
}
.navSearch {
    padding: 0 3rem;
    height: 2.25rem;
    width: 20vw;
    border: lightgray solid 1px;
    border-radius: 3px;
}

.navSearchBtn {
    display: none;
}



.navItem {
    padding: .5rem;
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
    align-self: center;  
    // border 1px solid transparent;  
    border: 1px solid transparent;  
    white-space: nowrap;

}

.navItem:hover {
    cursor: pointer;
    border-bottom: 2px solid #40D9AC;
    box-sizing: border-box;
    display: inline-block;
}

.signupButton {
    background: white;
    // background-color: white;
    color:  #40d9ac ;
    border: 3px solid #40d9ac ;
}
.signupButton:hover {
    background: #40d9ac  ;
    color: white;
    transition: 0.6s;
    
    // display: inline-block;
}

.logoutButton {
    background-color: white;
    border: 1px solid transparent;  

}




