 .super-body {
     font-family: Arial, Helvetica, sans-serif;
     height: auto;
     list-style: none;
     display: flex;
     /* width: 100%; */
     /* height: 100%; */
     align-items: center;
     justify-content: center;
    flex-direction: column;
    /* overflow-x: hidden !important; */
    // max-width: 100% !important;
    // overflow-x: hidden;
    //  overflow-y: hidden;
 }
strong {
    font-weight: bolder;
}
 a {
     color: inherit;
     text-decoration: inherit;
 }

.logo-pic {
    width: 145px;
    height: 70px;
}



 .superNav {
    //  font-size: 18px;
     font-size: 1.15em;
     position: fixed;
     width: 100%;
     height: 70px;
     top: 0;
     display: flex;
     z-index: 10;
     background-color: #ffffff;
    }
    
    .nav-left {
        width: 70%;
    }
    
.nav-right {
    margin: 0 5px 0 0;
    margin-right: 1%;
    width: 30%;
    display: flex;
    float: right;
    /* justify-content: flex-end; */
    justify-content: space-between;
    text-align: right;
}

.navItem {
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-self: center;    
    
}

.navItem:hover {
    cursor: pointer;
    border-bottom: 2px solid #40D9AC;
    box-sizing: border-box;
}

.signupButton {
    color:  #40d9ac ;
    border: 4px solid #40d9ac ;
}
.signupButton:hover {
    background: #40d9ac  ;
    color: white;
    transition: 0.6s;
}