.nonContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.nonContent h1 {
    font-size: 20em;
}

.nonContent h2 {
    font-size: 3em;
}

.nonContent .goBack {
    font-size: 1em;
}
.noContentPic {
    object-fit: contain;
    margin: 2rem;
}

.goBack {
    border: hidden;
    width: 10rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.goBack:hover {
    cursor: pointer;
}
