.userBody {
    display: flex;
    justify-content: left;
    margin-top: 9.5vh;
    // margin: 500px;
    // height: 7000px;
    /* align-items: left; */
    // background-color: black; 
    // border-top: black solid 10px;
}

/* left panel */
.left_panel {
    display: flex;
    justify-content: left;
    height: 663px;
    padding: 0px 10px;
    // border: red 1px solid;
}

.bioPanel {
    width: 280px;
    height: 275px;
    padding: 20px;
    border: lightgray 1px solid;
}
.panelHeader {
    width: 238;
    height: 90px;
    margin: 0px 0px 10px;
}
.right_header {
    height: 90;
    margin: 0px 0px 0px 10px;
    background: red;
    
}
.left_avatar {
    background-color: white;
    background: white;
}
.left_avatar img {
    width: 7vw;
    height: auto;
}