.userBody {
    display: flex;
    justify-content: left;
    margin-top: 11vh;
}

/* left panel */
.left_panel {
    position: fixed;
    left: 5rem;
    // display: flex; //useless unless top 2 are disabled
    // justify-content: left;
}

.bioPanel {
    display: flex;
    align-items: center;
    flex-direction: column;
    // margin: 10rem;
    width: 20vw;
    height: 27vh;
    padding: 2rem;
    border-right: lightgray 1px solid;
}
.panelHeader {
    // width: 20vw;
    height: 10vh;
    margin: 0px 0px 10px;
}
.right_header > h2 {
    margin: .5rem;
}
.left_avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    background: white;
    padding: 1rem;
}
.left_avatar img {
    width: 7vw;
    height: auto;
}